@{
    ViewData["Title"] = "1er Parcial";
}

<div class="text-center">
    <h1 class="display-4">Integrantes del grupo</h1>
    <p>Edison Morillo</p>
    <p>Leandro Colarte</p>
    <p>Jorge Cruz Ricaldy</p>
</div>
